<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo-mercado-liebre.svg">

</head>

<body>

    <!--HEADER: logo, campo de búsqueda y barras de navegación-->

    <header>

        <div class="main-header">
            <div class="container">
                <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg"></a>

                <form action="#" method="GET">
                    <input class="search" type="search" placeholder="Buscar productos, marcas,..."></input>

                    <div class="lupa">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </form>
                <div>
                    <p class="frase"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
        </div>

        <nav class="main-navbar">

            <ul class="left-navbar">
                <li><a href="#Ofertas">Ofertas</a></li>
                <li><a href="#Tiendas">Tiendas oficiales</a></li>
                <li><a href="#Vender">Vender</a></li>
                <li><a href="#Ayuda">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/views/register.html">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                <li><a href="/views/login.html">Ingresá</a> <i class="fa-solid fa-arrow-right-to-bracket"></i> </li>
                <li><a href="#Compras">Compras</a> <i class="fa-solid fa-basket-shopping"></i> </li>
            </ul>
        </nav>

        <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>

    </header>

    <!--Acá inserta un banner-->

    <div><img src="/images/img-home-banner.jpg"></div>

    <!--MAIN: todos los artículos-->

    <main>
        <section>
            <h3 class="titulares">Basado en tu última visita</h3>

            <article>
                <div class="card">
                    <img src="/images/img-cafetera-moulinex.jpg">
                    <div class="card-body">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                        <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
                    </div>
                </div>
            </article>

            <article>
                <div class="card">
                    <img src="/images/img-macbook-pro-2019.jpg">
                    <div class="card-body">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
                    </div>
                </div>
            </article>

            <article>
                <div class="card">
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="card-body">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
                    </div>
                </div>
            </article>

            <article>
                <div class="card">
                    <img src="/images/img-tv-samsung-smart.jpg">
                    <div class="card-body">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
                    </div>
                </div>
            </article>

        </section>

        <br>
        <br>

        <section>
            <h3 class="titulares">Ofertas</h3>

            <article>
                <div class="card">
                    <img src="/images/img-cafetera-moulinex.jpg">
                    <div class="card-body">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                        <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
                    </div>
                </div>
            </article>

            <article>
                <div class="card">
                    <img src="/images/img-macbook-pro-2019.jpg">
                    <div class="card-body">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
                    </div>
                </div>
            </article>

            <article>
                <div class="card">
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="card-body">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
                    </div>
                </div>
            </article>

            <article>
                <div class="card">
                    <img src="/images/img-tv-samsung-smart.jpg">
                    <div class="card-body">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
                    </div>
                </div>
            </article>

        </section>
        <br>
        <br>

    </main>

    <!-- FOOTER: con beneficios y legales-->

    <footer>
        <section>
            <i class="fa-solid fa-credit-card footer-icon"></i>
            <p class="titulo-footer"><strong>Pagá con tarjeta o en efectivo</strong></p>
            <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos
                de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift footer-icon"></i>
            <p class="titulo-footer"><strong>Envío gratis desde $ 2.500</strong></p>
            <p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield footer-icon"></i>
            <p class="titulo-footer"><strong>Seguridad, de principio a fin</strong></p>
            <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                estás siempre protegid@.</p>
        </section>

        <br>
    </footer>

    <section class="legales">
        <br>
        <br>
        <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
    </section>
</body>

</html>